@import url(./reset.css);

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --foreground-color: white;
}

.light-mode {
    --background-color: white;
    --foreground-color: black;
}

html {
    height: 100%;
    /*declare a font size so we can use rem (relative to root element) units*/
    font-size: 14px;
}

body {
    /*widths and heights*/
    min-height: 100%;
    padding: 100px 0;

    /*colors and fonts*/
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--background-color);

    /*typography*/
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.4;

    /*alignment and display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Section – Main*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.name-section .name,
.name-section .tagline {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--foreground-color);
}

.name-section .name {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    margin-bottom: 0.5rem;
}

.name-section .tagline {
    font-size: 1.5rem;
}

.main p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.photo {
    width: 256px;
    height: 256px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin-right: 1.5rem;
    width: 2.3em;
    height: 2.3em;
}

footer ul li:last-child {
    margin-right: 0;
}

footer a:hover {
    opacity: 0.6;
    transition: opacity 250ms;
}

svg {
    fill: var(--foreground-color);
}
