/*Style guide*/
/**
 * normal: #ccc;
 * dark: #131f21 @alpha 0.95;
 * base-size: 16px;
 * blue: #2584B3;
 * highlight: #48A4D2;
 **/
/*CSS Reset to remove all styling and remove browser inconistencies*/
@import url(./reset.css);
/*Import fonts and icons*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css);
/*Responsive*/
@import url(./responsive.css);

/* Basic styles*/

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:focus, a:active {
    text-decoration: none;
}

a {
    color: #ccc;
    transition: color 0.25s linear;
}

a:hover {
    color: #48A4D2;
}

/* Icons */

.icon {
    text-rendering: geometricPrecision;
    font-size: 1.5rem;
    color: black;
    transition: color 0.25s linear;
}

.icon:hover {
    color: rgb(124, 123, 123);
}

html {
    height: 100%;
    /*declare a font size so we can use rem (relative to root element) units*/
    font-size: 14px;
}

body {
    /*widths and heights*/
    min-height: 100%;
    padding: 100px 0;

    /*colors and fonts*/
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;

    /*typography*/
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.6;

    /*alignment and display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-size: 100%;
}

.container {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Section – Main*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.name-section {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    color: black;
}

.name-section .name,
.name-section .tagline {
    display: flex;
    justify-content: center;
    text-align: center;
}

.name-section .name {
    font-size: 3rem;
    line-height: 1;
}

.name-section .tagline {
    font-size: 1.5rem;
}

.main p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.photo {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 50%;
    padding: 1px;
    margin-bottom: 4rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

ul.list {
    list-style-type: disc;
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin-right: 1rem;
}

footer ul li:last-child {
    margin-right: 0;
}
